.body__item {
    position: relative;
    width: 24.3%;
    max-height: 250px;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.107);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-size: 14px;
    z-index: 0;

    &:hover {
        .body__item__tools {
            opacity: 1;
            right: 10px;
            z-index: 101;
        }
    }

    .table-item,
    tbody {
        width: 100%;

        &:hover {

            .table-item__category {
                &__info {
                    color: #ff6b00;
                } 
            }
            
        }
        

        &:first-child {
            margin-bottom: 6px;
        }

        tr {
            width: 100%;    
            height: 28px;
            

            td {

                &:first-child {
                    width: 160px;
                    text-align: start !important;
                }

                &:last-child {
                    color: #343434;
                    font-weight: 800;
                    text-align: start;
                    line-height: 1.1;
                }

                .plane_id {
                    font-weight: 300;
                    font-size: 13px;
                    z-index: 100;
                }
            }
        }
    }

    .status {
        margin-top: auto;
        width: 100%;    

        .status-type {
            font-weight: 500;
            width: 100%;
            display: flex;
            align-items: end;


            &.busy,
            &.free {
                padding: 5px 10px;
                border-radius: 8px;
            }

            &.busy {
                border: 1px solid #ff6b00;
                color: #ff6b00;
            }

            &.free {
                border: 1px solid #35AA3A;
                color: #35AA3A;
            }

            span {
                width: 100%
            }
        }

        tr {
            td {
                &:first-child {
                    width: 40%;
                }
            }
            
        }
    }

    &__tools {
        opacity: 0;

        width: auto;
        height: auto;

        position: absolute;
        right: 0px;
        top: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        transition: 0.2s linear opacity, 0.2s linear right;
        
        .tool__item {
            width: 40px;
            height: 40px;
            background-color: #fff;
            box-shadow: 0px 0px 14px 0px rgba(136, 136, 136, 0.20);
            padding: 8px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 0px 14px 0px rgba(136, 136, 136, 0.33);
            }

            &:not(:first-child) {
                margin-top: 10px;
            }

            img {
                width: 100%;
            }

        }
    }

    // Flights
    .flight-status { 
        border: 1px solid transparent;
        padding: 5px 10px;
        border-radius: 4px;
        text-align: center !important;

        &.active {
            border-color: #7d7d7d;
            color: #7d7d7d !important;
        }

        &.landed {
            border-color: #35AA3A;
            color: #35AA3A !important;
        }

        &.exprected {
            border-color: #ff8c00;
            color: #ff8c00 !important;
        }

        &.load {
            border-color: #ff1f1fb1;
            color: #ff1f1fb1 !important;
        }
    }
}

.plane-free {
    opacity: 0.2;
}


.search__result__item {
    width: 49.3%;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #e4e4e4;

    tr {
        height: 30px;
        font-size: 14px;
    }

    .td__info {
        padding-left: 20px;
        font-weight: 700;

        &.active {
            color: #7d7d7d;
        }

        &.landed {
            color: #35AA3A;
        }

        &.exprected {
            color: #ff8c00;
        }

        &.load {
            color: #ff1f1fb1;
        }
    }
}


.role {
    &.main {
        color: #ff6a008d !important;
    }

    &.sub {
        color: #35AA3A8d !important;
    }
}


.table-item__category {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &__title {
        font-size: 13px;
        color: #3434348d;
        margin-bottom: 0px;
        line-height: 1.2;
        
    }

    &__info {
        font-size: 16px;
        font-weight: 700;
        margin-top: 0px;
        line-height: 1.1;
        transition: color linear 0.2s;
    }
}

.table-item__badge {
    position: absolute;
    right: 0;
    top: 0;

    &.green {
        background-color: #35aa3bd6;
        padding: 2px 4px;
        border-radius: 8px 0px 8px 8px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
}