.table__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 99.5%;
    height: 60px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s linear box-shadow;

    &:hover {
        box-shadow: 0px 4px 14px 0px #a7a7a73d;
    }

    &-text {
        text-align: center;
        padding: 10px 0px;

        &.id {
            width: 5%;
            font-size: 12px;
            margin-left: 6px;
        }

        &.active {
            color: #3fc543;
            font-weight: 700;
        }

        &.flight-number,
        &.departure-airpor,
        &.departure-airport,
        &.destination-airport,
        &.flight-duration,
        &.flight-price,
        &.flight-status {
            width: 13.5%;
        }
    }
}