.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff3c;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__container {
        background-color: #ffffff;
        box-shadow: 0px 0px 20px #9b9b9b85;
        border-radius: 8px;
        width: 700px;
        height: auto;
        padding: 20px;

        &__head {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            font-size: 18px;
            margin-bottom: 20px;    

            .head__close {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgb(249, 249, 249);
                cursor: pointer;
                transition: 0.2s linear background-color;

                &:hover {
                    background-color: rgb(240, 240, 240);
                }
            }
        }

        &__body {
            width: 100%;
            
            .form {
                width: 100%;

                .body__input {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 20px;
    
                    &__title {
                        width: 100%;
                        margin-bottom: 8px;
                        text-align: left;
                        font-size: 15px;
                    }
                
                    
                    .inputs,
                    .item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        width: 49%;

                        .item__box {
                            width: 100%;
                            height: 50px;
                            background-color: #efefef;
                            padding: 5px;
                            border-radius: 8px;
                            margin-top: 10px;

                            &__member {
                                width: 100%;
                                height: 40px;
                                background-color: #ffffff;
                            }
                        }

                        .add__box {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;

                            input {
                                width: 83%;
                            }

                            &__member {
                                width: 46px;
                                height: 46px;
                                border-radius: 8px;
                                background-color: rgb(0, 186, 0);
                                cursor: pointer;
                            }
                        }
                        

                    }

                    .inputs__multiply {
                        display: flex;
                        justify-content: space-between;
                    }

                    

                    input {
                        width: 100%;
                        padding: 10px 20px;
                        border: 1px solid transparent;
                        font-size: 17px;
                        border-radius: 8px;
                        background-color: #efefef;
                        transition: 0.2s linear border-color;
    
                        &::placeholder {
                            color: #bfbfbf;
                        }
    
                        &:focus {
                            border-color: #7277FF;
                        }

                        &.date {
                            cursor: text;
                        }
                    }
                    
                }

                .body__lower {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: end;

                    button {
                        background-color: #7277FF;
                        color: #ffffff;
                        padding: 10px 20px;
                        border-radius: 8px;
                        transition: 0.2s linear background-color;

                        &:hover {
                            background-color: #4b51ff;
                        }
                        
                        &.disabled {
                            background-color: #bfbfbf;
                        }
                    }
                }
            }
            
        }
    }
}


.remove-item {
    width: 100%;
    height: 100%;


    &__info {
        margin-bottom: 50px;
        font-size: 18px;
    }

    &__buttons {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: end;

        .button {
            width: 160px;
            height: 50px;
            border-radius: 8px;
            background-color: #bfbfbf22;
            transition: 0.2s linear background-color;

            &.cancel {
                margin-right: 20px;

                &:hover {
                    background-color: #bfbfbf37;
                }
            }

            &.remove {
                background-color: #ff7070;
                color: #ffffff;

                &:hover {
                    background-color: #ff5353;
                }
            }
        }
    }
}


.inputs {

}