.dashboard__container__body {
    &.flights {
        .body__item {
            width: 32.5%;
        }
    }
}


.search__input {

    .keybind {
        width: auto;
        font-size: 18px;
    }
}