
.dashboard__container__body {

    &.planes {
        padding: 10px;
        align-items: start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: hidden;
        flex-wrap: wrap;
    }
}

.body__item {
    position: relative;
    width: 32.4%;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.107);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 20px;
    
    &:hover {
        
        .body__item__tools {
            opacity: 1;
            right: 10px;
            z-index: 101;
        }
    }

    table {

        &:first-child {
            margin-bottom: 6px;
        }

        tr {
            &:not(:first-child) {
                height: 30px;
            }

            td {
                &:first-child {
                    width: 160px;
                }

                &:last-child {
                    color: #343434;
                    font-weight: 800;
                    text-align: start;
                }

                .plane_id {
                    font-weight: 300;
                    font-size: 13px;
                    z-index: 100;
                }
            }
        }
    }

    .status {
        margin-top: 25px;

        .status-type {
            font-weight: 900;
            text-align: right;

            &.busy {
                color: #ff6b00;
            }

            &.free {
                color: #35AA3A;
            }
        }
    }

    &__tools {
        opacity: 0;

        width: auto;
        height: auto;

        position: absolute;
        right: 0px;
        top: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        transition: 0.2s linear opacity, 0.2s linear right;
        
        .tool__item {
            width: 40px;
            height: 40px;
            box-shadow: 0px 0px 14px 0px rgba(136, 136, 136, 0.20);
            padding: 8px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 0px 14px 0px rgba(136, 136, 136, 0.33);
            }

            &:not(:first-child) {
                margin-top: 10px;
            }

            img {
                width: 100%;
            }

        }
    }
}