
.dashboard__container__body {

    &.planes {
        padding: 6px;
        display: flex;
        flex-direction: row;

    }
}

.search__input {

    .keybind {
        width: auto;
        font-size: 18px;
    }
}