.progress {
    width: 100%;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background-color: #ffffff5e;
    backdrop-filter: blur(8px);
    transition: 0.3s linear opacity;

    &.transparent {
        background: transparent;
    }
}